<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" id="main-css" href="/stylesheets/main.css">
    <title>The B Side</title>
</head>
<body>
  <div class="container">
    <%- include('../partials/header.ejs') %>
    <div class="inner-container">
      <%- include('../partials/errorMessage.ejs') %>
    <%- body %>
  </div>
</div>
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script>

      // fix this to use the variables for width, aspect ratio, and calc height. from main.css
        document.addEventListener('DOMContentLoaded', function() {
              FilePond.registerPlugin(FilePondPluginImagePreview);
              FilePond.registerPlugin(FilePondPluginImageResize);
              FilePond.registerPlugin(FilePondPluginFileEncode);
              const inputElement = document.querySelector('input[type="file"]');
              const pond = FilePond.create(inputElement);
              FilePond.setOptions({
                stylePanelAspectRatio: 150 / 100,
                imageResizeTargetWidth: 100,
                imageResizeTargetHeight: 150
              });
              FilePond.parse(document.body);
        });      
      </script>
</body>
</html>