<h2 class="page-header">Register</h2>
<form action="/register" method="POST">
    <div class="form-row">
        <div class="form-item">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
<a href="/login">Login</a>
