:root {
    --album-cover-width: 200px;
    --album-cover-width-large: 325px;
    --album-cover-aspect-ratio: 1;
}

.album-cover {
    width: var(--album-cover-width);
    height: calc(var(--album-cover-width) / var(--album-cover-aspect-ratio));
    border-radius: 10px;
    opacity: .8;
    transition: 200ms transform ease-in-out, 200ms opacity ease-in-out;
}

.album-cover-showpage {
    width: var(--album-cover-width);
    height: calc(var(--album-cover-width) / var(--album-cover-aspect-ratio));
    border-radius: 10px;
}

.album-cover-large {
    --album-cover-width: var(--album-cover-width-large);
    border-radius: 10px;
    opacity: .8;
    transition: 200ms transform ease-in-out, 200ms opacity ease-in-out;
}

.album-cover:hover {
    transform: scale(1.025);
    opacity: 1;
}

.album-grid {
    display: grid;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, var(--album-cover-width));
}

.album-grid-large {
    grid-template-columns: repeat(auto-fill, var(--album-cover-width-large));
}

.album-details {
    display: flex;
    gap: 1rem;
}

.album-details-label {
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
}

.album-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    gap: 1rem;
    grid-template-columns: auto auto;
}

.album-details-btn-grid {
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    grid-template-areas: 
    "edit delete"
    "artist artist";
    gap: .5rem;
    margin-top: .5rem;
}

.album-details-artist-button {
    grid-area: artist;
    justify-self: stretch;
}